In [138]:
import pandas as pd
import numpy as np

In [139]:
df=pd.read_csv('cricketData1.csv')

In [140]:
df.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,NaN,NaN,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287.0,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667.0,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707.0,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416.0,56.00,10,5,2,104,1

In [141]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,NaN,NaN,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287.0,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667.0,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707.0,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416.0,56.00,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662.0,49.16,15,33,4,525,23
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525.0,59.67,27,38,11,1165,24
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525.0,59.67,27,38,11,1165,24
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217.0,60.02,6,13,4,241,5
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110.0,25.59,1,10,2,53,0

In [142]:
df=df.rename(columns={'NO':'Not_Out','HS':'High_Score','SR':'Strike_Rate','BF':'Balls_Faced'})

In [143]:
df.isnull

<bound method DataFrame.isnull of                Player       Span  Mat  Inns  Not_Out  Runs High_Score    Ave  \
0    DG Bradman (AUS)  1928-1948   52    80       10  6996        334  99.94
1      HC Brook (ENG)  2022-2023   12    20        1  1181        186  62.15
2      AC Voges (AUS)  2015-2016   20    31        7  1485       269*  61.87
3     RG Pollock (SA)  1963-1970   23    41        4  2256        274  60.97
4     GA Headley (WI)  1930-1954   22    40        4  2190       270*  60.83
..                ...        ...  ...   ...      ...   ...        ...    ...
57   KD Walters (AUS)  1965-1981   74   125       14  5357        250  48.26
58  GC Smith (ICC/SA)  2002-2014  117   205       13  9265        277  48.25
59  GC Smith (ICC/SA)  2002-2014  117   205       13  9265        277  48.25
60    SJ McCabe (AUS)  1930-1938   39    62        5  2748        232  48.21
61   DR Jardine (ENG)  1928-1934   22    33        6  1296        127  48.00

    Balls_Faced  Strike_Rate  100  50   0    4s  6s
0           NaN          NaN   29  13   7   626   6
1        1287.0        91.76    4   7   1   141  23
2        2667.0        55.68    5   4   2   186   5
3        1707.0        54.48    7  11   1   246  11
4         416.0        56.00   10   5   2   104   1
..          ...          ...  ...  ..  ..   ...  ..
57       8662.0        49.16   15  33   4   525  23
58      15525.0        59.67   27  38  11  1165  24
59      15525.0        59.67   27  38  11  1165  24
60       3217.0        60.02    6  13   4   241   5
61       2110.0        25.59    1  10   2    53   0

[62 rows x 15 columns]>

In [144]:
df.isnull().sum()

Player         0
Span           0
Mat            0
Inns           0
Not_Out        0
Runs           0
High_Score     0
Ave            0
Balls_Faced    4
Strike_Rate    4
100            0
50             0
0              0
4s             0
6s             0
dtype: int64

In [145]:
df.isnull().any()

Player         False
Span           False
Mat            False
Inns           False
Not_Out        False
Runs           False
High_Score     False
Ave            False
Balls_Faced     True
Strike_Rate     True
100            False
50             False
0              False
4s             False
6s             False
dtype: bool

In [146]:
df[df['Balls_Faced'].isna()==1]

,Player,Span,Mat,Inns,Not_Out,Runs,High_Score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,NaN,NaN,29,13,7,626,6
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,NaN,15,19,6,258,2
14,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,NaN,15,14,1,107,11
54,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,NaN,NaN,5,6,3,51,0

In [147]:
df['Balls_Faced']=df['Balls_Faced'].fillna(0)

In [148]:
df['Strike_Rate']=df['Strike_Rate'].fillna(0)

In [149]:
df[df['Player']=='DG Bradman (AUS)']

,Player,Span,Mat,Inns,Not_Out,Runs,High_Score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,0.0,0.0,29,13,7,626,6

In [150]:
df[df['Player']=='ED Weekes (WI)']

,Player,Span,Mat,Inns,Not_Out,Runs,High_Score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,0.0,0.0,15,19,6,258,2

In [151]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
57    False
58    False
59     True
60    False
61    False
Length: 62, dtype: bool

In [152]:
df[df['Player'].duplicated()==1]

,Player,Span,Mat,Inns,Not_Out,Runs,High_Score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s
26,BC Lara (ICC/WI),1990-2006,131,232,6,11953,400*,52.88,19753.0,60.51,34,48,17,1559,88
43,DCS Compton (ENG),1937-1957,78,131,15,5807,278,50.06,2731.0,38.81,17,28,10,342,3
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525.0,59.67,27,38,11,1165,24

In [153]:
df[df['Player'].isin(['BC Lara (ICC/WI)','DCS Compton (ENG)','GC Smith (ICC/SA)'])]

,Player,Span,Mat,Inns,Not_Out,Runs,High_Score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s
25,BC Lara (ICC/WI),1990-2006,131,232,6,11953,400*,52.88,19753.0,60.51,34,48,17,1559,88
26,BC Lara (ICC/WI),1990-2006,131,232,6,11953,400*,52.88,19753.0,60.51,34,48,17,1559,88
42,DCS Compton (ENG),1937-1957,78,131,15,5807,278,50.06,2731.0,38.81,17,28,10,342,3
43,DCS Compton (ENG),1937-1957,78,131,15,5807,278,50.06,2731.0,38.81,17,28,10,342,3
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525.0,59.67,27,38,11,1165,24
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525.0,59.67,27,38,11,1165,24

In [154]:
df=df.drop_duplicates()

In [155]:
df[df['Player'].isin(['BC Lara (ICC/WI)','DCS Compton (ENG)','GC Smith (ICC/SA)'])]

,Player,Span,Mat,Inns,Not_Out,Runs,High_Score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s
25,BC Lara (ICC/WI),1990-2006,131,232,6,11953,400*,52.88,19753.0,60.51,34,48,17,1559,88
42,DCS Compton (ENG),1937-1957,78,131,15,5807,278,50.06,2731.0,38.81,17,28,10,342,3
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525.0,59.67,27,38,11,1165,24

In [156]:
df['Span'].dtypes

dtype('O')

In [157]:
df.info

<bound method DataFrame.info of                       Player       Span  Mat  Inns  Not_Out   Runs High_Score  \
0           DG Bradman (AUS)  1928-1948   52    80       10   6996        334
1             HC Brook (ENG)  2022-2023   12    20        1   1181        186
2             AC Voges (AUS)  2015-2016   20    31        7   1485       269*
3            RG Pollock (SA)  1963-1970   23    41        4   2256        274
4            GA Headley (WI)  1930-1954   22    40        4   2190       270*
5          H Sutcliffe (ENG)  1924-1935   54    84        9   4555        194
6            E Paynter (ENG)  1931-1939   20    31        5   1540        243
7        KF Barrington (ENG)  1955-1968   82   131       15   6806        256
8             ED Weekes (WI)  1948-1958   48    81        5   4455        207
9           WR Hammond (ENG)  1927-1947   85   140       16   7249       336*
10           SPD Smith (AUS)  2010-2024  106   189       24   9537        239
11            GS Sobers (WI)  1954-1974   93   160       21   8032       365*
12        KC Sangakkara (SL)  2000-2015  134   233       17  12400        319
13            JB Hobbs (ENG)  1908-1930   61   102        7   5410        211
14           CL Walcott (WI)  1948-1960   44    74        7   3798        220
15            L Hutton (ENG)  1937-1955   79   138       15   6971        364
16        JH Kallis (ICC/SA)  1995-2013  166   280       40  13289        224
17        GE Tyldesley (ENG)  1921-1929   14    20        2    990        122
18        KS Williamson (NZ)  2010-2023   96   168       16   8263        251
19             CA Davis (WI)  1968-1973   15    29        5   1301        183
20           VG Kambli (IND)  1993-1995   17    21        1   1084        227
21         GS Chappell (AUS)  1970-1984   87   151       19   7110       247*
22            AD Nourse (SA)  1935-1951   34    62        7   2960        231
23        SR Tendulkar (IND)  1989-2013  200   329       33  15921       248*
24          DJ Mitchell (NZ)  2019-2023   20    31        4   1452        190
25          BC Lara (ICC/WI)  1990-2006  131   232        6  11953       400*
27        R Dravid (ICC/IND)  1996-2012  164   286       32  13288        270
28     Mohammad Yousuf (PAK)  1998-2010   90   156       12   7530        223
29         Younis Khan (PAK)  2000-2017  118   213       19  10099        313
30       M Labuschagne (AUS)  2018-2024   47    84        7   4007        215
31          RT Ponting (AUS)  1995-2012  168   287       29  13378        257
32             J Ryder (AUS)  1920-1929   20    32        5   1394       201*
33            A Flower (ZIM)  1992-2002   63   112       19   4794       232*
34          MEK Hussey (AUS)  2005-2013   79   137       16   6235        195
35        S Chanderpaul (WI)  1994-2015  164   280       49  11867       203*
36         SM Gavaskar (IND)  1971-1987  125   214       16  10122       236*
37            SR Waugh (AUS)  1985-2004  168   260       46  10927        200
38           ML Hayden (AUS)  1994-2009  103   184       14   8625        380
39       AB de Villiers (SA)  2004-2018  114   191       18   8765       278*
40           AR Border (AUS)  1978-1994  156   265       44  11174        205
41             JE Root (ENG)  2012-2023  135   247       20  11416        254
42         DCS Compton (ENG)  1937-1957   78   131       15   5807        278
44     DPMD Jayawardene (SL)  1997-2014  149   252       15  11814        374
45  Inzamam-ul-Haq (ICC/PAK)  1992-2007  120   200       22   8830        329
46          FMM Worrell (WI)  1948-1963   51    87        9   3860        261
47             CP Mead (ENG)  1911-1928   17    26        2   1185       182*
48        V Sehwag (ICC/IND)  2001-2013  104   180        6   8586        319
49            Abid Ali (PAK)  2019-2021   16    26        2   1180       215*
50             V Kohli (IND)  2011-2024  113   191       11   8848       254*
51           MJ Clarke (AUS)  2004-2015  115   198       22   8643       329*
52             KC Bland (SA)  1961-1966   21    39        5   1669       144*
53           B Mitchell (SA)  1929-1949   42    80        9   3471       189*
54      Hon.FS Jackson (ENG)  1893-1905   20    33        4   1415       144*
55       TT Samaraweera (SL)  2001-2013   81   132       20   5462        231
56           RN Harvey (AUS)  1948-1963   79   137       10   6149        205
57          KD Walters (AUS)  1965-1981   74   125       14   5357        250
58         GC Smith (ICC/SA)  2002-2014  117   205       13   9265        277
60           SJ McCabe (AUS)  1930-1938   39    62        5   2748        232
61          DR Jardine (ENG)  1928-1934   22    33        6   1296        127

      Ave  Balls_Faced  Strike_Rate  100  50   0    4s  6s
0   99.94          0.0         0.00   29  13   7   626   6
1   62.15       1287.0        91.76    4   7   1   141  23
2   61.87       2667.0        55.68    5   4   2   186   5
3   60.97       1707.0        54.48    7  11   1   246  11
4   60.83        416.0        56.00   10   5   2   104   1
5   60.73       6558.0        34.59   16  23   2   202   6
6   59.23       1288.0        45.88    4   7   3   125   4
7   58.67       4957.0        42.42   20  35   5   591  27
8   58.61          0.0         0.00   15  19   6   258   2
9   58.45       7491.0        38.07   22  24   4   419  27
10  57.80      17825.0        53.50   32  40   9  1046  53
11  57.78       4063.0        53.58   26  30  12   593  32
12  57.40      22882.0        54.19   38  52  11  1491  51
13  56.94       5363.0        46.22   15  28   4   276   8
14  56.68          0.0         0.00   15  14   1   107  11
15  56.67       2844.0        39.34   19  33   5   358   7
16  55.37      28903.0        45.97   45  58  16  1488  97
17  55.00        178.0        29.21    3   6   2    37   2
18  54.36      16052.0        51.47   29  33  10   914  21
19  54.20        665.0        35.48    4   4   1    65   1
20  54.20       1823.0        59.46    4   3   3   124   6
21  53.86      13079.0        51.53   24  31  12   755  16
22  53.81        108.0        63.88    9  14   3   115   6
23  53.78      29437.0        54.04   51  68  14  2058  69
24  53.77       2644.0        54.91    5   9   1   144  27
25  52.88      19753.0        60.51   34  48  17  1559  88
27  52.31      31258.0        42.51   36  63   8  1654  21
28  52.29      14372.0        52.39   24  33  11   957  51
29  52.05      19375.0        52.12   34  33  19  1082  70
30  52.03       7599.0        52.73   11  19   4   450  12
31  51.85      22782.0        58.72   41  62  17  1509  73
32  51.62       2035.0        44.86    3   9   1   102   3
33  51.54      10636.0        45.07   12  27   5   543  20
34  51.52      12436.0        50.13   19  29  12   685  39
35  51.37      27395.0        43.31   30  66  15  1285  36
36  51.12      14184.0        43.35   34  45  12   908  26
37  51.06      22461.0        48.64   32  50  22  1175  20
38  50.73      14349.0        60.10   30  29  14  1049  82
39  50.66      16077.0        54.51   22  46   8  1024  64
40  50.56      27002.0        41.09   27  63  11  1161  28
41  50.29      20113.0        56.75   30  60  12  1247  43
42  50.06       2731.0        38.81   17  28  10   342   3
44  49.84      22959.0        51.45   34  50  15  1387  61
45  49.60      16345.0        54.02   25  46  15  1105  48
46  49.48        488.0        40.16    9  22  11   240  11
47  49.37        619.0        30.04    4   3   3    38   0
48  49.34      10441.0        82.23   23  32  16  1233  91
49  49.16       2445.0        48.26    4   3   2   148   5
50  49.15      15924.0        55.56   29  30  14   991  26
51  49.10      15456.0        55.92   28  27   9   978  39
52  49.08        885.0        37.74    3   9   2   123  20
53  48.88        158.0        29.11    8  21   3    41   1
54  48.79          0.0         0.00    5   6   3    51   0
55  48.76      11641.0        46.92   14  30  11   633   7
56  48.41       1799.0        43.74   21  24   7   427   1
57  48.26       8662.0        49.16   15  33   4   525  23
58  48.25      15525.0        59.67   27  38  11  1165  24
60  48.21       3217.0        60.02    6  13   4   241   5
61  48.00       2110.0        25.59    1  10   2    53   0  >

In [158]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59 entries, 0 to 61
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Player       59 non-null     object
 1   Span         59 non-null     object
 2   Mat          59 non-null     int64
 3   Inns         59 non-null     int64
 4   Not_Out      59 non-null     int64
 5   Runs         59 non-null     int64
 6   High_Score   59 non-null     object
 7   Ave          59 non-null     float64
 8   Balls_Faced  59 non-null     float64
 9   Strike_Rate  59 non-null     float64
 10  100          59 non-null     int64
 11  50           59 non-null     int64
 12  0            59 non-null     int64
 13  4s           59 non-null     int64
 14  6s           59 non-null     int64
dtypes: float64(3), int64(9), object(3)
memory usage: 7.4+ KB

In [159]:
df['0'].dtypes

dtype('int64')

In [160]:
df['Player'].dtypes

dtype('O')

In [161]:
df['Span'].str.split(pat='-')

0     [1928, 1948]
1     [2022, 2023]
2     [2015, 2016]
3     [1963, 1970]
4     [1930, 1954]
5     [1924, 1935]
6     [1931, 1939]
7     [1955, 1968]
8     [1948, 1958]
9     [1927, 1947]
10    [2010, 2024]
11    [1954, 1974]
12    [2000, 2015]
13    [1908, 1930]
14    [1948, 1960]
15    [1937, 1955]
16    [1995, 2013]
17    [1921, 1929]
18    [2010, 2023]
19    [1968, 1973]
20    [1993, 1995]
21    [1970, 1984]
22    [1935, 1951]
23    [1989, 2013]
24    [2019, 2023]
25    [1990, 2006]
27    [1996, 2012]
28    [1998, 2010]
29    [2000, 2017]
30    [2018, 2024]
31    [1995, 2012]
32    [1920, 1929]
33    [1992, 2002]
34    [2005, 2013]
35    [1994, 2015]
36    [1971, 1987]
37    [1985, 2004]
38    [1994, 2009]
39    [2004, 2018]
40    [1978, 1994]
41    [2012, 2023]
42    [1937, 1957]
44    [1997, 2014]
45    [1992, 2007]
46    [1948, 1963]
47    [1911, 1928]
48    [2001, 2013]
49    [2019, 2021]
50    [2011, 2024]
51    [2004, 2015]
52    [1961, 1966]
53    [1929, 1949]
54    [1893, 1905]
55    [2001, 2013]
56    [1948, 1963]
57    [1965, 1981]
58    [2002, 2014]
60    [1930, 1938]
61    [1928, 1934]
Name: Span, dtype: object

In [162]:
df['Span'].str.split(pat='-').str[0]

0     1928
1     2022
2     2015
3     1963
4     1930
5     1924
6     1931
7     1955
8     1948
9     1927
10    2010
11    1954
12    2000
13    1908
14    1948
15    1937
16    1995
17    1921
18    2010
19    1968
20    1993
21    1970
22    1935
23    1989
24    2019
25    1990
27    1996
28    1998
29    2000
30    2018
31    1995
32    1920
33    1992
34    2005
35    1994
36    1971
37    1985
38    1994
39    2004
40    1978
41    2012
42    1937
44    1997
45    1992
46    1948
47    1911
48    2001
49    2019
50    2011
51    2004
52    1961
53    1929
54    1893
55    2001
56    1948
57    1965
58    2002
60    1930
61    1928
Name: Span, dtype: object

In [163]:
df['Rookie_Year']=df['Span'].str.split(pat='-').str[0]

/var/folders/hk/n9zhgl_55rd_zmv9flwps28r0000gn/T/ipykernel_17556/1740907504.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Rookie_Year']=df['Span'].str.split(pat='-').str[0]

In [164]:
df['Retirement_Year']=df['Span'].str.split(pat='-').str[1]

/var/folders/hk/n9zhgl_55rd_zmv9flwps28r0000gn/T/ipykernel_17556/4214777975.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Retirement_Year']=df['Span'].str.split(pat='-').str[1]

In [165]:
df

,Player,Span,Mat,Inns,Not_Out,Runs,High_Score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Retirement_Year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,0.0,0.00,29,13,7,626,6,1928,1948
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287.0,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667.0,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707.0,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416.0,56.00,10,5,2,104,1,1930,1954
5,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558.0,34.59,16,23,2,202,6,1924,1935
6,E Paynter (ENG),1931-1939,20,31,5,1540,243,59.23,1288.0,45.88,4,7,3,125,4,1931,1939
7,KF Barrington (ENG),1955-1968,82,131,15,6806,256,58.67,4957.0,42.42,20,35,5,591,27,1955,1968
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,0.0,0.00,15,19,6,258,2,1948,1958
9,WR Hammond (ENG),1927-1947,85,140,16,7249,336*,58.45,7491.0,38.07,22,24,4,419,27,1927,1947
10,SPD Smith (AUS),2010-2024,106,189,24,9537,239,57.80,17825.0,53.50,32,40,9,1046,53,2010,2024
11,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063.0,53.58,26,30,12,593,32,1954,1974
12,KC Sangakkara (SL),2000-2015,134,233,17,12400,319,57.40,22882.0,54.19,38,52,11,1491,51,2000,2015
13,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363.0,46.22,15,28,4,276,8,1908,1930
14,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,0.0,0.00,15,14,1,107,11,1948,1960
15,L Hutton (ENG),1937-1955,79,138,15,6971,364,56.67,2844.0,39.34,19,33,5,358,7,1937,1955
16,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,55.37,28903.0,45.97,45,58,16,1488,97,1995,2013
17,GE Tyldesley (ENG),1921-1929,14,20,2,990,122,55.00,178.0,29.21,3,6,2,37,2,1921,1929
18,KS Williamson (NZ),2010-2023,96,168,16,8263,251,54.36,16052.0,51.47,29,33,10,914,21,2010,2023
19,CA Davis (WI),1968-1973,15,29,5,1301,183,54.20,665.0,35.48,4,4,1,65,1,1968,1973
20,VG Kambli (IND),1993-1995,17,21,1,1084,227,54.20,1823.0,59.46,4,3,3,124,6,1993,1995
21,GS Chappell (AUS),1970-1984,87,151,19,7110,247*,53.86,13079.0,51.53,24,31,12,755,16,1970,1984
22,AD Nourse (SA),1935-1951,34,62,7,2960,231,53.81,108.0,63.88,9,14,3,115,6,1935,1951
23,SR Tendulkar (IND),1989-2013,200,329,33,15921,248*,53.78,29437.0,54.04,51,68,14,2058,69,1989,2013
24,DJ Mitchell (NZ),2019-2023,20,31,4,1452,190,53.77,2644.0,54.91,5,9,1,144,27,2019,2023
25,BC Lara (ICC/WI),1990-2006,131,232,6,11953,400*,52.88,19753.0,60.51,34,48,17,1559,88,1990,2006
27,R Dravid (ICC/IND),1996-2012,164,286,32,13288,270,52.31,31258.0,42.51,36,63,8,1654,21,1996,2012
28,Mohammad Yousuf (PAK),1998-2010,90,156,12,7530,223,52.29,14372.0,52.39,24,33,11,957,51,1998,2010
29,Younis Khan (PAK),2000-2017,118,213,19,10099,313,52.05,19375.0,52.12,34,33,19,1082,70,2000,2017
30,M Labuschagne (AUS),2018-2024,47,84,7,4007,215,52.03,7599.0,52.73,11,19,4,450,12,2018,2024
31,RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,22782.0,58.72,41,62,17,1509,73,1995,2012
32,J Ryder (AUS),1920-1929,20,32,5,1394,201*,51.62,2035.0,44.86,3,9,1,102,3,1920,1929
33,A Flower (ZIM),1992-2002,63,112,19,4794,232*,51.54,10636.0,45.07,12,27,5,543,20,1992,2002
34,MEK Hussey (AUS),2005-2013,79,137,16,6235,195,51.52,12436.0,50.13,19,29,12,685,39,2005,2013
35,S Chanderpaul (WI),1994-2015,164,280,49,11867,203*,51.37,27395.0,43.31,30,66,15,1285,36,1994,2015
36,SM Gavaskar (IND),1971-1987,125,214,16,10122,236*,51.12,14184.0,43.35,34,45,12,908,26,1971,1987
37,SR Waugh (AUS),1985-2004,168,260,46,10927,200,51.06,22461.0,48.64,32,50,22,1175,20,1985,2004
38,ML Hayden (AUS),1994-2009,103,184,14,8625,380,50.73,14349.0,60.10,30,29,14,1049,82,1994,2009
39,AB de Villiers (SA),2004-2018,114,191,18,8765,278*,50.66,16077.0,54.51,22,46,8,1024,64,2004,2018
40,AR Border (AUS),1978-1994,156,265,44,11174,205,50.56,27002.0,41.09,27,63,11,1161,28,1978,1994
41,JE Root (ENG),2012-2023,135,247,20,11416,254,50.29,20113.0,56.75,30,60,12,1247,43,2012,2023
42,DCS Compton (ENG),1937-1957,78,131,15,5807,278,50.06,2731.0,38.81,17,28,10,342,3,1937,1957
44,DPMD Jayawardene (SL),1997-2014,149,252,15,11814,374,49.84,22959.0,51.45,34,50,15,1387,61,1997,2014
45,Inzamam-ul-Haq (ICC/PAK),1992-2007,120,200,22,8830,329,49.60,16345.0,54.02,25,46,15,1105,48,1992,2007
46,FMM Worrell (WI),1948-1963,51,87,9,3860,261,49.48,488.0,40.16,9,22,11,240,11,1948,1963
47,CP Mead (ENG),1911-1928,17,26,2,1185,182*,49.37,619.0,30.04,4,3,3,38,0,1911,1928
48,V Sehwag (ICC/IND),2001-2013,104,180,6,8586,319,49.34,10441.0,82.23,23,32,16,1233,91,2001,2013
49,Abid Ali (PAK),2019-2021,16,26,2,1180,215*,49.16,2445.0,48.26,4,3,2,148,5,2019,2021
50,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924.0,55.56,29,30,14,991,26,2011,2024
51,MJ Clarke (AUS),2004-2015,115,198,22,8643,329*,49.10,15456.0,55.92,28,27,9,978,39,2004,2015
52,KC Bland (SA),1961-1966,21,39,5,1669,144*,49.08,885.0,37.74,3,9,2,123,20,1961,1966
53,B Mitchell (SA),1929-1949,42,80,9,3471,189*,48.88,158.0,29.11,8,21,3,41,1,1929,1949
54,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,0.0,0.00,5,6,3,51,0,1893,1905
55,TT Samaraweera (SL),2001-2013,81,132,20,5462,231,48.76,11641.0,46.92,14,30,11,633,7,2001,2013
56,RN Harvey (AUS),1948-1963,79,137,10,6149,205,48.41,1799.0,43.74,21,24,7,427,1,1948,1963
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662.0,49.16,15,33,4,525,23,1965,1981
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525.0,59.67,27,38,11,1165,24,2002,2014
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217.0,60.02,6,13,4,241,5,1930,1938
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110.0,25.59,1,10,2,53,0,1928,1934

In [166]:
df=df.drop(['Span'], axis=1)

In [167]:
df.head()

,Player,Mat,Inns,Not_Out,Runs,High_Score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Retirement_Year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,0.0,0.00,29,13,7,626,6,1928,1948
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287.0,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667.0,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707.0,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270*,60.83,416.0,56.00,10,5,2,104,1,1930,1954

In [168]:
df['Player'].str.split(pat='(')

0             [DG Bradman , AUS)]
1               [HC Brook , ENG)]
2               [AC Voges , AUS)]
3              [RG Pollock , SA)]
4              [GA Headley , WI)]
5            [H Sutcliffe , ENG)]
6              [E Paynter , ENG)]
7          [KF Barrington , ENG)]
8               [ED Weekes , WI)]
9             [WR Hammond , ENG)]
10             [SPD Smith , AUS)]
11              [GS Sobers , WI)]
12          [KC Sangakkara , SL)]
13              [JB Hobbs , ENG)]
14             [CL Walcott , WI)]
15              [L Hutton , ENG)]
16          [JH Kallis , ICC/SA)]
17          [GE Tyldesley , ENG)]
18          [KS Williamson , NZ)]
19               [CA Davis , WI)]
20             [VG Kambli , IND)]
21           [GS Chappell , AUS)]
22              [AD Nourse , SA)]
23          [SR Tendulkar , IND)]
24            [DJ Mitchell , NZ)]
25            [BC Lara , ICC/WI)]
27          [R Dravid , ICC/IND)]
28       [Mohammad Yousuf , PAK)]
29           [Younis Khan , PAK)]
30         [M Labuschagne , AUS)]
31            [RT Ponting , AUS)]
32               [J Ryder , AUS)]
33              [A Flower , ZIM)]
34            [MEK Hussey , AUS)]
35          [S Chanderpaul , WI)]
36           [SM Gavaskar , IND)]
37              [SR Waugh , AUS)]
38             [ML Hayden , AUS)]
39         [AB de Villiers , SA)]
40             [AR Border , AUS)]
41               [JE Root , ENG)]
42           [DCS Compton , ENG)]
44       [DPMD Jayawardene , SL)]
45    [Inzamam-ul-Haq , ICC/PAK)]
46            [FMM Worrell , WI)]
47               [CP Mead , ENG)]
48          [V Sehwag , ICC/IND)]
49              [Abid Ali , PAK)]
50               [V Kohli , IND)]
51             [MJ Clarke , AUS)]
52               [KC Bland , SA)]
53             [B Mitchell , SA)]
54        [Hon.FS Jackson , ENG)]
55         [TT Samaraweera , SL)]
56             [RN Harvey , AUS)]
57            [KD Walters , AUS)]
58           [GC Smith , ICC/SA)]
60             [SJ McCabe , AUS)]
61            [DR Jardine , ENG)]
Name: Player, dtype: object

In [169]:
df['Country']=df['Player'].str.split(pat='(').str[1]

In [170]:
df['Country']

0         AUS)
1         ENG)
2         AUS)
3          SA)
4          WI)
5         ENG)
6         ENG)
7         ENG)
8          WI)
9         ENG)
10        AUS)
11         WI)
12         SL)
13        ENG)
14         WI)
15        ENG)
16     ICC/SA)
17        ENG)
18         NZ)
19         WI)
20        IND)
21        AUS)
22         SA)
23        IND)
24         NZ)
25     ICC/WI)
27    ICC/IND)
28        PAK)
29        PAK)
30        AUS)
31        AUS)
32        AUS)
33        ZIM)
34        AUS)
35         WI)
36        IND)
37        AUS)
38        AUS)
39         SA)
40        AUS)
41        ENG)
42        ENG)
44         SL)
45    ICC/PAK)
46         WI)
47        ENG)
48    ICC/IND)
49        PAK)
50        IND)
51        AUS)
52         SA)
53         SA)
54        ENG)
55         SL)
56        AUS)
57        AUS)
58     ICC/SA)
60        AUS)
61        ENG)
Name: Country, dtype: object

In [174]:
df['Country']=df['Country'].str.split(pat=')').str[0]

In [175]:
df['Player']=df['Player'].str.split(pat='(').str[0]

In [176]:
df.head()

,Player,Mat,Inns,Not_Out,Runs,High_Score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Retirement_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,0.0,0.00,29,13,7,626,6,1928,1948,AUS
1,HC Brook,12,20,1,1181,186,62.15,1287.0,91.76,4,7,1,141,23,2022,2023,ENG
2,AC Voges,20,31,7,1485,269*,61.87,2667.0,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707.0,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270*,60.83,416.0,56.00,10,5,2,104,1,1930,1954,WI

In [177]:
df.dtypes

Player              object
Mat                  int64
Inns                 int64
Not_Out              int64
Runs                 int64
High_Score          object
Ave                float64
Balls_Faced        float64
Strike_Rate        float64
100                  int64
50                   int64
0                    int64
4s                   int64
6s                   int64
Rookie_Year         object
Retirement_Year     object
Country             object
dtype: object

In [178]:
df['High_Score'].str.split(pat='*').str[0]

0     334
1     186
2     269
3     274
4     270
5     194
6     243
7     256
8     207
9     336
10    239
11    365
12    319
13    211
14    220
15    364
16    224
17    122
18    251
19    183
20    227
21    247
22    231
23    248
24    190
25    400
27    270
28    223
29    313
30    215
31    257
32    201
33    232
34    195
35    203
36    236
37    200
38    380
39    278
40    205
41    254
42    278
44    374
45    329
46    261
47    182
48    319
49    215
50    254
51    329
52    144
53    189
54    144
55    231
56    205
57    250
58    277
60    232
61    127
Name: High_Score, dtype: object

In [179]:
df['High_Score']=df['High_Score'].str.split(pat='*').str[0]

In [180]:
df['High_Score'].astype('int')

0     334
1     186
2     269
3     274
4     270
5     194
6     243
7     256
8     207
9     336
10    239
11    365
12    319
13    211
14    220
15    364
16    224
17    122
18    251
19    183
20    227
21    247
22    231
23    248
24    190
25    400
27    270
28    223
29    313
30    215
31    257
32    201
33    232
34    195
35    203
36    236
37    200
38    380
39    278
40    205
41    254
42    278
44    374
45    329
46    261
47    182
48    319
49    215
50    254
51    329
52    144
53    189
54    144
55    231
56    205
57    250
58    277
60    232
61    127
Name: High_Score, dtype: int64

In [181]:
df['High_Score']=df['High_Score'].astype('int')

In [182]:
df=df.astype({'Rookie_Year':'int','Retirement_Year':'int'})

In [183]:
df.dtypes

Player              object
Mat                  int64
Inns                 int64
Not_Out              int64
Runs                 int64
High_Score           int64
Ave                float64
Balls_Faced        float64
Strike_Rate        float64
100                  int64
50                   int64
0                    int64
4s                   int64
6s                   int64
Rookie_Year          int64
Retirement_Year      int64
Country             object
dtype: object

In [184]:
df.head()

,Player,Mat,Inns,Not_Out,Runs,High_Score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Retirement_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,0.0,0.00,29,13,7,626,6,1928,1948,AUS
1,HC Brook,12,20,1,1181,186,62.15,1287.0,91.76,4,7,1,141,23,2022,2023,ENG
2,AC Voges,20,31,7,1485,269,61.87,2667.0,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707.0,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270,60.83,416.0,56.00,10,5,2,104,1,1930,1954,WI

In [186]:
df.isnull().any()

Player             False
Mat                False
Inns               False
Not_Out            False
Runs               False
High_Score         False
Ave                False
Balls_Faced        False
Strike_Rate        False
100                False
50                 False
0                  False
4s                 False
6s                 False
Rookie_Year        False
Retirement_Year    False
Country            False
dtype: bool

In [187]:
df.dtypes

Player              object
Mat                  int64
Inns                 int64
Not_Out              int64
Runs                 int64
High_Score           int64
Ave                float64
Balls_Faced        float64
Strike_Rate        float64
100                  int64
50                   int64
0                    int64
4s                   int64
6s                   int64
Rookie_Year          int64
Retirement_Year      int64
Country             object
dtype: object

In [188]:
df['Career_Length']=df['Retirement_Year']-df['Rookie_Year']

In [189]:
df

,Player,Mat,Inns,Not_Out,Runs,High_Score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Retirement_Year,Country,Career_Length
0,DG Bradman,52,80,10,6996,334,99.94,0.0,0.00,29,13,7,626,6,1928,1948,AUS,20
1,HC Brook,12,20,1,1181,186,62.15,1287.0,91.76,4,7,1,141,23,2022,2023,ENG,1
2,AC Voges,20,31,7,1485,269,61.87,2667.0,55.68,5,4,2,186,5,2015,2016,AUS,1
3,RG Pollock,23,41,4,2256,274,60.97,1707.0,54.48,7,11,1,246,11,1963,1970,SA,7
4,GA Headley,22,40,4,2190,270,60.83,416.0,56.00,10,5,2,104,1,1930,1954,WI,24
5,H Sutcliffe,54,84,9,4555,194,60.73,6558.0,34.59,16,23,2,202,6,1924,1935,ENG,11
6,E Paynter,20,31,5,1540,243,59.23,1288.0,45.88,4,7,3,125,4,1931,1939,ENG,8
7,KF Barrington,82,131,15,6806,256,58.67,4957.0,42.42,20,35,5,591,27,1955,1968,ENG,13
8,ED Weekes,48,81,5,4455,207,58.61,0.0,0.00,15,19,6,258,2,1948,1958,WI,10
9,WR Hammond,85,140,16,7249,336,58.45,7491.0,38.07,22,24,4,419,27,1927,1947,ENG,20
10,SPD Smith,106,189,24,9537,239,57.80,17825.0,53.50,32,40,9,1046,53,2010,2024,AUS,14
11,GS Sobers,93,160,21,8032,365,57.78,4063.0,53.58,26,30,12,593,32,1954,1974,WI,20
12,KC Sangakkara,134,233,17,12400,319,57.40,22882.0,54.19,38,52,11,1491,51,2000,2015,SL,15
13,JB Hobbs,61,102,7,5410,211,56.94,5363.0,46.22,15,28,4,276,8,1908,1930,ENG,22
14,CL Walcott,44,74,7,3798,220,56.68,0.0,0.00,15,14,1,107,11,1948,1960,WI,12
15,L Hutton,79,138,15,6971,364,56.67,2844.0,39.34,19,33,5,358,7,1937,1955,ENG,18
16,JH Kallis,166,280,40,13289,224,55.37,28903.0,45.97,45,58,16,1488,97,1995,2013,ICC/SA,18
17,GE Tyldesley,14,20,2,990,122,55.00,178.0,29.21,3,6,2,37,2,1921,1929,ENG,8
18,KS Williamson,96,168,16,8263,251,54.36,16052.0,51.47,29,33,10,914,21,2010,2023,NZ,13
19,CA Davis,15,29,5,1301,183,54.20,665.0,35.48,4,4,1,65,1,1968,1973,WI,5
20,VG Kambli,17,21,1,1084,227,54.20,1823.0,59.46,4,3,3,124,6,1993,1995,IND,2
21,GS Chappell,87,151,19,7110,247,53.86,13079.0,51.53,24,31,12,755,16,1970,1984,AUS,14
22,AD Nourse,34,62,7,2960,231,53.81,108.0,63.88,9,14,3,115,6,1935,1951,SA,16
23,SR Tendulkar,200,329,33,15921,248,53.78,29437.0,54.04,51,68,14,2058,69,1989,2013,IND,24
24,DJ Mitchell,20,31,4,1452,190,53.77,2644.0,54.91,5,9,1,144,27,2019,2023,NZ,4
25,BC Lara,131,232,6,11953,400,52.88,19753.0,60.51,34,48,17,1559,88,1990,2006,ICC/WI,16
27,R Dravid,164,286,32,13288,270,52.31,31258.0,42.51,36,63,8,1654,21,1996,2012,ICC/IND,16
28,Mohammad Yousuf,90,156,12,7530,223,52.29,14372.0,52.39,24,33,11,957,51,1998,2010,PAK,12
29,Younis Khan,118,213,19,10099,313,52.05,19375.0,52.12,34,33,19,1082,70,2000,2017,PAK,17
30,M Labuschagne,47,84,7,4007,215,52.03,7599.0,52.73,11,19,4,450,12,2018,2024,AUS,6
31,RT Ponting,168,287,29,13378,257,51.85,22782.0,58.72,41,62,17,1509,73,1995,2012,AUS,17
32,J Ryder,20,32,5,1394,201,51.62,2035.0,44.86,3,9,1,102,3,1920,1929,AUS,9
33,A Flower,63,112,19,4794,232,51.54,10636.0,45.07,12,27,5,543,20,1992,2002,ZIM,10
34,MEK Hussey,79,137,16,6235,195,51.52,12436.0,50.13,19,29,12,685,39,2005,2013,AUS,8
35,S Chanderpaul,164,280,49,11867,203,51.37,27395.0,43.31,30,66,15,1285,36,1994,2015,WI,21
36,SM Gavaskar,125,214,16,10122,236,51.12,14184.0,43.35,34,45,12,908,26,1971,1987,IND,16
37,SR Waugh,168,260,46,10927,200,51.06,22461.0,48.64,32,50,22,1175,20,1985,2004,AUS,19
38,ML Hayden,103,184,14,8625,380,50.73,14349.0,60.10,30,29,14,1049,82,1994,2009,AUS,15
39,AB de Villiers,114,191,18,8765,278,50.66,16077.0,54.51,22,46,8,1024,64,2004,2018,SA,14
40,AR Border,156,265,44,11174,205,50.56,27002.0,41.09,27,63,11,1161,28,1978,1994,AUS,16
41,JE Root,135,247,20,11416,254,50.29,20113.0,56.75,30,60,12,1247,43,2012,2023,ENG,11
42,DCS Compton,78,131,15,5807,278,50.06,2731.0,38.81,17,28,10,342,3,1937,1957,ENG,20
44,DPMD Jayawardene,149,252,15,11814,374,49.84,22959.0,51.45,34,50,15,1387,61,1997,2014,SL,17
45,Inzamam-ul-Haq,120,200,22,8830,329,49.60,16345.0,54.02,25,46,15,1105,48,1992,2007,ICC/PAK,15
46,FMM Worrell,51,87,9,3860,261,49.48,488.0,40.16,9,22,11,240,11,1948,1963,WI,15
47,CP Mead,17,26,2,1185,182,49.37,619.0,30.04,4,3,3,38,0,1911,1928,ENG,17
48,V Sehwag,104,180,6,8586,319,49.34,10441.0,82.23,23,32,16,1233,91,2001,2013,ICC/IND,12
49,Abid Ali,16,26,2,1180,215,49.16,2445.0,48.26,4,3,2,148,5,2019,2021,PAK,2
50,V Kohli,113,191,11,8848,254,49.15,15924.0,55.56,29,30,14,991,26,2011,2024,IND,13
51,MJ Clarke,115,198,22,8643,329,49.10,15456.0,55.92,28,27,9,978,39,2004,2015,AUS,11
52,KC Bland,21,39,5,1669,144,49.08,885.0,37.74,3,9,2,123,20,1961,1966,SA,5
53,B Mitchell,42,80,9,3471,189,48.88,158.0,29.11,8,21,3,41,1,1929,1949,SA,20
54,Hon.FS Jackson,20,33,4,1415,144,48.79,0.0,0.00,5,6,3,51,0,1893,1905,ENG,12
55,TT Samaraweera,81,132,20,5462,231,48.76,11641.0,46.92,14,30,11,633,7,2001,2013,SL,12
56,RN Harvey,79,137,10,6149,205,48.41,1799.0,43.74,21,24,7,427,1,1948,1963,AUS,15
57,KD Walters,74,125,14,5357,250,48.26,8662.0,49.16,15,33,4,525,23,1965,1981,AUS,16
58,GC Smith,117,205,13,9265,277,48.25,15525.0,59.67,27,38,11,1165,24,2002,2014,ICC/SA,12
60,SJ McCabe,39,62,5,2748,232,48.21,3217.0,60.02,6,13,4,241,5,1930,1938,AUS,8
61,DR Jardine,22,33,6,1296,127,48.00,2110.0,25.59,1,10,2,53,0,1928,1934,ENG,6

In [190]:
df['Career_Length'].mean()

13.067796610169491

In [191]:
df[df['Career_Length']>10]['Strike_Rate'].mean()

46.08547619047619

In [192]:
df[df['Rookie_Year']<1960]

,Player,Mat,Inns,Not_Out,Runs,High_Score,Ave,Balls_Faced,Strike_Rate,100,50,0,4s,6s,Rookie_Year,Retirement_Year,Country,Career_Length
0,DG Bradman,52,80,10,6996,334,99.94,0.0,0.00,29,13,7,626,6,1928,1948,AUS,20
4,GA Headley,22,40,4,2190,270,60.83,416.0,56.00,10,5,2,104,1,1930,1954,WI,24
5,H Sutcliffe,54,84,9,4555,194,60.73,6558.0,34.59,16,23,2,202,6,1924,1935,ENG,11
6,E Paynter,20,31,5,1540,243,59.23,1288.0,45.88,4,7,3,125,4,1931,1939,ENG,8
7,KF Barrington,82,131,15,6806,256,58.67,4957.0,42.42,20,35,5,591,27,1955,1968,ENG,13
8,ED Weekes,48,81,5,4455,207,58.61,0.0,0.00,15,19,6,258,2,1948,1958,WI,10
9,WR Hammond,85,140,16,7249,336,58.45,7491.0,38.07,22,24,4,419,27,1927,1947,ENG,20
11,GS Sobers,93,160,21,8032,365,57.78,4063.0,53.58,26,30,12,593,32,1954,1974,WI,20
13,JB Hobbs,61,102,7,5410,211,56.94,5363.0,46.22,15,28,4,276,8,1908,1930,ENG,22
14,CL Walcott,44,74,7,3798,220,56.68,0.0,0.00,15,14,1,107,11,1948,1960,WI,12
15,L Hutton,79,138,15,6971,364,56.67,2844.0,39.34,19,33,5,358,7,1937,1955,ENG,18
17,GE Tyldesley,14,20,2,990,122,55.00,178.0,29.21,3,6,2,37,2,1921,1929,ENG,8
22,AD Nourse,34,62,7,2960,231,53.81,108.0,63.88,9,14,3,115,6,1935,1951,SA,16
32,J Ryder,20,32,5,1394,201,51.62,2035.0,44.86,3,9,1,102,3,1920,1929,AUS,9
42,DCS Compton,78,131,15,5807,278,50.06,2731.0,38.81,17,28,10,342,3,1937,1957,ENG,20
46,FMM Worrell,51,87,9,3860,261,49.48,488.0,40.16,9,22,11,240,11,1948,1963,WI,15
47,CP Mead,17,26,2,1185,182,49.37,619.0,30.04,4,3,3,38,0,1911,1928,ENG,17
53,B Mitchell,42,80,9,3471,189,48.88,158.0,29.11,8,21,3,41,1,1929,1949,SA,20
54,Hon.FS Jackson,20,33,4,1415,144,48.79,0.0,0.00,5,6,3,51,0,1893,1905,ENG,12
56,RN Harvey,79,137,10,6149,205,48.41,1799.0,43.74,21,24,7,427,1,1948,1963,AUS,15
60,SJ McCabe,39,62,5,2748,232,48.21,3217.0,60.02,6,13,4,241,5,1930,1938,AUS,8
61,DR Jardine,22,33,6,1296,127,48.00,2110.0,25.59,1,10,2,53,0,1928,1934,ENG,6

In [194]:
df[df['Rookie_Year']<1960]['Player'].count()

22

In [195]:
df.groupby('Country')['High_Score'].max()

Country
AUS        380
ENG        364
ICC/IND    319
ICC/PAK    329
ICC/SA     277
ICC/WI     400
IND        254
NZ         251
PAK        313
SA         278
SL         374
WI         365
ZIM        232
Name: High_Score, dtype: int64

In [197]:
df.groupby('Country')['High_Score'].max().to_frame('Highincountry').reset_index().sort_values('Highincountry',ascending=False)

    Country  Highincountry
5    ICC/WI            400
0       AUS            380
10       SL            374
11       WI            365
1       ENG            364
3   ICC/PAK            329
2   ICC/IND            319
8       PAK            313
9        SA            278
4    ICC/SA            277
6       IND            254
7        NZ            251
12      ZIM            232

In [198]:
df.groupby('Country')[['100','50','0']].mean()

               100         50          0
Country
AUS      21.533333  29.733333   9.000000
ENG      12.307692  20.769231   4.307692
ICC/IND  29.500000  47.500000  12.000000
ICC/PAK  25.000000  46.000000  15.000000
ICC/SA   36.000000  48.000000  13.500000
ICC/WI   34.000000  48.000000  17.000000
IND      29.500000  36.500000  10.750000
NZ       17.000000  21.000000   5.500000
PAK      20.666667  23.000000  10.666667
SA        9.800000  20.200000   3.400000
SL       28.666667  44.000000  12.333333
WI       15.571429  22.857143   6.857143
ZIM      12.000000  27.000000   5.000000